# Remove unrelated CICD platform files
{{ $root_dir := "databricks_models"}}


{{ if (not (eq .input_project_name `27896cf3-bb3e-476e-8129-96df0406d5c7`)) }}
    {{ skip (printf `%s/%s` $root_dir `_params_testing_only.txt`) }}
{{ end }}

# Remove template files
{{ skip (printf `%s/%s` $root_dir `cicd`) }}
{{ skip `update_layout` }}
{{ skip `run_validations` }}
