# The name of the bundle. run `databricks bundle schema` to see the full bundle settings schema.
bundle:
  name: {{ .input_project_name }}-mlops-stack

variables:
  experiment_name:
    description: Experiment name for the model training.
    default: /Users/${workspace.current_user.userName}/${bundle.target}-{{template `experiment_base_name` .}}
  model_name:
    description: Model name for the model training.
    {{ if (eq .input_include_models_in_unity_catalog `no`) }}default: ${bundle.target}-{{template `model_name` .}}
    {{- else -}}default: {{template `model_name` .}}{{end}}

include:
  # Resources folder contains ML artifact resources for the ML project that defines model and experiment
  # And workflows resources for the ML project including model training -> validation -> deployment,
  - ./resources/batch-inference-workflow-resource.yml
  - ./resources/ml-artifacts-resource.yml
  - ./resources/model-workflow-resource.yml
  # TODO: uncomment once monitoring inference table has been created
  # - ./resources/monitoring-resource.yml

targets:
  # The 'dev' target, for development purposes. This target is the default.
  dev:
    # We use 'mode: development' to indicate this is a personal development copy:
    # - Deployed resources get prefixed with '[dev my_user_name]'
    # - Any job schedules and triggers are paused by default
    # - The 'development' mode is used for Delta Live Tables pipelines
    mode: development
    default: true
    workspace:
      host: https://gofundme-data-shared-test01.cloud.databricks.com
    # variables:
    #   catalog_name: data_shared_test01
  test:
    workspace:
      host: https://gofundme-data-staging.cloud.databricks.com

  staging:
    # We use 'mode: production' to indicate this is a production deployment.
    # Doing so enables strict verification of the settings below.
    mode: production
    workspace:
      host: https://gofundme-data-staging.cloud.databricks.com
    
  prod:
    mode: production
    workspace:
      host: https://gofundme-data-prod.cloud.databricks.com
